.jumbotron {
  background-repeat: no-repeat;
  justify-content: center;
  background-color: aqua;
}

h1 {
  text-align: center;
}

.rules {
  color: red;
}

.work {
  color: red;
}

.aside {
  align-content: center;
}

.background {
  background-color: black;
}

.container {
  justify-content: center;
  color: red;
}