.jumbotron {
  background-repeat: no-repeat;
  text-decoration-color: purple;
  align-items: center;
}

.rules {
  color: red;
}

.work {
  color: red;
}

.aside {
  align-content: center;
  color: purple;
}

.background {
  background-color: black;
}

body {
  background-color: purple;
}